<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CosmosEndpoint" value="https://myCosmosDB.documents.azure.com:443/" />
    <add key="CosmosAuthKey" value="Tu7YzAXfwoNJF...8wtLbRENZA==" />
    <add key="NeoBolt" value="bolt://localhost:7687" />
    <add key="NeoUser" value="neo4j" />
    <add key="NeoPass" value="password" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>